@import "../../assets/variables";

.follow {
	padding: 50px 0px;
	background-color: $whiteHard;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&__content {
		width: 1200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		&-title {
			font-size: 4.6rem;
			margin-top: 25px;
		}
		&-text {
			color: $grayHeavy;
			font-size: 1.6rem;
			max-width: 600px;
			margin-top: 25px;
		}
	}
}
