@use "../../assets/styles/variables" as vars;

.arrivals {
	width: 1200px;
	margin: 50px 0;
	&__header {
		display: flex;
		flex-direction: column;
		text-align: center;
		&-title {
			font-size: 4.6rem;
			color: vars.$gray;
			margin-bottom: 25px;
		}
		&-text {
			font-size: 1.6rem;
		}
	}

	&__navigator {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px 0;
	}

	&__content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
	}
}
