@use "../../assets/styles/variables" as vars;

.arrivals {
	width: 1200px;
	padding: 50px 0px;

	&__header {
		display: flex;
		flex-direction: column;
		text-align: center;
		&-title {
			font-size: 4.6rem;
			color: vars.$gray;
			margin-bottom: 25px;
		}
		&-text {
			font-size: 1.6rem;
		}
	}

	&__navigator {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px 0;
	}

	&__content {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 30px;
		min-height: 910px;
	}
}

@media (max-width: 1280px) {
	.arrivals {
		width: 90%;

		&__navigator {
			gap: 1rem;
			flex-wrap: wrap;
			justify-content: center;
		}

		&__content {
			justify-content: center;
		}
	}
}

@media (max-width: 768px) {
	.arrivals {
		width: 100%;
	}
}
