@import "../../assets/styles/variables";

.button {
	box-sizing: border-box;
	width: 300px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 55px;
	font-family: "Poppins";
	color: $black;
	font-size: 1.6em;
	border: 1px solid $blue;
	border-radius: 5px;
	transition: 0.3s;
	user-select: none;
	cursor: pointer;
	&-icon {
		height: 36px;
		margin: 0 5px;
	}

	&:hover {
		background-color: $blue;
		color: $white;
	}
}

.bold {
	font-weight: bold;
	color: $blue;
}

.black {
	border: none;
	background-color: $black;
	color: $white;
}

.wide {
	width: 550px;
}

.margin {
	margin-top: 10px;
}

.fullfill {
	width: 100%;
}
