@import "../../assets/styles/variables";

.button {
	box-sizing: border-box;
	width: 300px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 55px;
	font-family: "Poppins";
	color: $black;
	font-size: 1.6em;
	border: 1px solid $blue;
	border-radius: 5px;
	transition: 0.3s;
	user-select: none;
	cursor: pointer;
	&-icon {
		height: 36px;
		margin: 0 5px;
	}

	&.bold {
		font-weight: bold;
		color: $blue;
	}

	&.gray {
		background-color: $whiteHard;
		border: none;
		&:hover {
			background-color: $black;
		}
	}

	&.black {
		border: none;
		background-color: $black;
		color: $white;
	}

	&.wide {
		width: 550px;
	}

	&.tight {
		width: 220px;
	}

	&.margin {
		margin-top: 10px;
	}

	&.fullfill {
		width: 100%;
	}

	&:hover {
		background-color: $blue;
		color: $white;
	}
}
