@import "../../assets/variables";

.button {
	width: 152px;
	height: 56px;
	border: none;
	outline: none;
	background-color: $black;
	border-radius: 10px;
	cursor: pointer;
	padding: 0px 20px;
	color: $white;
	font-size: 1.6em;
	line-height: 1.6em;
	transition: 0.3s;

	&:hover {
		background-color: $gray;
		color: $white;
	}
}
