@import "../../../assets/variables";

.input {
	outline: none;
	border: none;
	border-bottom: 1px solid $grayHeavy;
	font-size: 1.6rem;
	font-family: "Poppins";
	height: 55px;
	margin: 0 auto;
}

.input-error {
	height: 15px;
	font-size: 1.3rem;
	color: $red;
	line-height: 15px;
	min-width: 1px;
}

.narrow {
	width: 280px;
}
