@import "../../assets/styles/variables";

.shop {
	width: 1200px;
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.filters-section {
		width: 20%;
		align-self: start;
		color: $black;
		font-size: 3rem;
		font-family: "Volkhov";

		.selector {
			position: relative;
			margin: 20px 0px;

			&__hide {
				position: absolute;
				cursor: pointer;
				user-select: none;
				top: 0px;
				right: 0px;
				font-size: 2rem;
			}
			&__name {
				font-size: 1.8rem;
			}

			&__tags {
				font-size: 1.6rem;
				font-family: "Jost";
				color: $grayHeavy;
				display: flex;
				flex-wrap: wrap;

				.tag {
					margin: 5px 10px 0px 0px;
				}
			}

			.columnned {
				flex-wrap: nowrap;
				flex-direction: column;
			}

			.hidden {
				display: none;
			}
		}
	}

	.goods {
		width: 80%;

		&-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: flex-start;
			row-gap: 1rem;
			height: 1010px;
		}

		&__pages {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			user-select: none;
			cursor: pointer;
			font-family: "Jost";
			font-weight: bold;
			margin: 50px 0;
			&-page {
				margin: 0px 10px;
				font-size: 1.6rem;
				width: 44px;
				height: 44px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 44px;
			}
			.active {
				background-color: $grayLight;
			}
		}
	}
}

.product {
	width: 300px;
	height: 500px;
	&__image {
		height: 80%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background: linear-gradient(to bottom right, $grayLight, $whiteHard);
		&-img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__info {
		font-size: 1.6rem;
		color: $black;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		height: 20%;
		padding-left: 5px;
		overflow: hidden;
		&-name {
			font-family: "Volkhov";
			font-weight: normal;
			height: 60px;
		}
		&-price {
			font-family: "Jost";
			font-weight: bold;
			&-depricated {
				padding-left: 10px;
				font-weight: normal;
				text-decoration: line-through;
				color: $grayMedium;
			}
		}
	}
}
