@use "../../assets//styles//variables" as vars;

.shop {
	width: 1200px;
	display: flex;
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;

	.filters-section {
		width: 20%;
		align-self: start;
		color: vars.$black;
		font-size: 3rem;
		font-family: "Volkhov";
		user-select: none;
	}

	.products-section {
		width: 80%;
		min-height: 1030px;
		&__title {
			align-self: start;
			color: vars.$black;
			font-size: 3rem;
			font-family: "Volkhov";
			user-select: none;
		}

		&__sorting {
			cursor: pointer;
			display: flex;
			align-items: center;
			user-select: none;
			position: relative;
			height: 39px;
			font-size: 1.3rem;
			color: vars.$black;
			font-family: "Poppins";
			.container {
				top: 39px;
				position: absolute;
				display: flex;
				flex-direction: column;
				background-color: vars.$white;
				overflow: hidden;
				box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px;
				&__option {
					box-sizing: border-box;
					border-bottom: 1px solid vars.$grayHeavy;
					padding: 10px;
					transition: 0.3s;
					&:hover {
						background-color: vars.$blue;
						color: vars.$white;
					}
				}
			}
		}

		&__container {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 3rem;
			height: 100%;

			&.centered {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		&__pages {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			user-select: none;
			cursor: pointer;
			font-family: "Jost";
			font-weight: bold;
			margin: 50px 0;
			height: 44px;
			&-page {
				margin: 0px 10px;
				font-size: 1.6rem;
				width: 44px;
				height: 44px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				line-height: 44px;
			}
			.active {
				background-color: vars.$grayLight;
			}
		}
	}
}

.selector {
	position: relative;
	margin: 20px 0px;

	&__hide {
		position: absolute;
		cursor: pointer;
		user-select: none;
		top: 0px;
		right: 10px;
		font-size: 2rem;
		transition: 0.3s;

		&.hidden {
			transform: rotate(180deg);
		}

		&:hover {
			opacity: 0.5;
		}
	}
	&__name {
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__options {
		font-size: 1.6rem;
		font-family: "Jost";
		color: vars.$grayHeavy;
		display: flex;
		flex-wrap: wrap;

		.tag {
			margin: 5px 10px 0px 0px;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				text-shadow: vars.$grayHeavy 1px 0 15px;
			}
		}

		.active {
			text-decoration: underline;
		}
		&.hidden {
			display: none;
		}
	}

	.columnned {
		flex-wrap: nowrap;
		flex-direction: column;
	}
}

.product {
	width: 300px;
	height: 500px;
	cursor: pointer;

	&__image {
		height: 80%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background: linear-gradient(to bottom right, vars.$grayLight, vars.$whiteHard);
		&-img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__info {
		font-size: 1.6rem;
		font-family: "Poppins";
		color: vars.$black;
		display: grid;
		padding-left: 5px;
		grid-template-columns: 1fr 87.5px;
		grid-auto-rows: 30px;
		grid-template-areas:
			"brand rating"
			"title title"
			"price discounted";

		&-title {
			grid-area: title;
			display: flex;
			align-items: center;
			overflow: hidden;
			font-weight: normal;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&-brand {
			grid-area: brand;
			color: vars.$grayHeavy;
			font-size: 1.2rem;
			display: flex;
			align-items: center;
		}

		&-discounted {
			grid-area: discounted;
			display: flex;
			align-items: center;
			font-family: "Jost";
			font-weight: normal;
			text-decoration: line-through;
			color: vars.$grayMedium;
		}

		&-price {
			grid-area: price;
			display: flex;
			align-items: center;
			font-family: "Jost";
			font-weight: bold;
		}
	}
}
