@import "../../assets/styles/variables";

.product2 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	padding: 50px 0;
	width: 1200px;
	min-height: 900px;

	&-gallery {
		width: 50%;
		height: 500px;
		overflow: hidden;
		align-self: flex-start;
		display: flex;
		justify-content: center;
		align-items: center;

		&__thumbnails {
			width: 70px;
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			gap: 1rem;
			overflow: hidden;
			&-item {
				cursor: pointer;
				width: 60px;
				height: 60px;
				background-color: $whiteHard;
				overflow: hidden;
				&-img {
					width: 100%;
				}
			}
		}

		&__preview {
			height: 100%;
		}
	}

	&-details {
		width: 50%;
		color: $black;
		font-family: "Volkhov";
		font-size: 1.6rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		.logo {
			color: $grayMedium;
			font-size: 1.4rem;
			padding-bottom: 20px;
		}

		.title {
			font-size: 3rem;
			padding-bottom: 20px;
		}

		.price {
			font-size: 2.4rem;
			padding-bottom: 20px;
		}

		.sales {
			font-family: "Poppins";
			color: $grayHeavy;
			padding-bottom: 20px;
		}

		.description {
			font-family: "Poppins";
			padding-bottom: 20px;
		}

		.left {
			font-family: "Jost";
			color: $grayMedium;
			padding-bottom: 20px;
		}

		.size {
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			&-title {
			}
			&__selector {
				display: flex;
				&-btn {
					width: 45px;
					height: 45px;
					border: 1px solid $grayLight;
					line-height: 45px;
					font-size: 1.8rem;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: "Poppins";
				}
			}
		}

		.color {
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			&-title {
			}
			&__selector {
				display: flex;
			}
		}

		.quantity {
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			&-title {
			}
			&__content {
				display: flex;
				justify-content: space-between;
				user-select: none;
				align-items: center;
				&__selector {
					cursor: pointer;
					font-family: "Jost";
					width: 135px;
					height: 45px;
					border: 1px solid $grayLight;
					line-height: 45px;
					display: flex;
					&-btn {
						width: 45px;
						height: 100%;
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						line-height: 45px;
					}
				}
			}
		}

		.tools {
			display: flex;
			border-bottom: 1px solid $grayLight;
			padding-bottom: 20px;
			&__content {
				display: flex;
				justify-content: center;
				align-items: center;
				&-icon {
					height: 23px;
					padding: 0px 10px;
				}

				&-title {
					font-family: "Jost";
				}
			}
		}

		.delivery {
			display: flex;
			flex-direction: column;
			padding: 20px 0px;
			&__content {
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}

		.payment {
			min-height: 100px;
			background-color: $whiteHard;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
		}
	}
}
