@use "../../assets/styles/variables" as vars;

.checkout {
	margin: 25px 0px;
	.fields-group {
		margin: 25px 0px;
		width: 600px;
		min-height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		&__header {
			font-size: 4.6rem;
			font-family: "Volkhov";
			color: vars.$gray;
		}

		&__content {
			width: 100%;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: 80px;
			&__row {
				margin-top: 10px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
			}
		}
	}
}

.input-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	&.wide {
		width: 100%;
	}

	&.narrow {
		width: 48%;
	}
}

@media (max-width: 768px) {
	.checkout {
		padding: 00px 10px;
		.fields-group {
			max-width: 600px;
			width: 100%;
		}
	}
	.custom-input {
		padding-left: 5px;
	}
}
