@use "../../assets/styles/variables" as vars;

.header__wrapper {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: vars.$white;
	border-bottom: 1px solid vars.$grayLight;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	margin-bottom: 50px;
}

.header {
	display: grid;
	width: 1200px;
	grid-template-columns: 1fr 2fr 250px;
	grid-template-rows: 56px;
	box-sizing: border-box;

	&__section {
		display: flex;
		justify-content: center;
		align-items: center;

		&__link {
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 56px;
			width: 98px;
			margin: 0px 10px;
			border: none;
			outline: none;
			background-color: vars.$white;
			cursor: pointer;
			color: vars.$gray;
			font-size: 1.6rem;
			line-height: 1.6rem;
			transition: 0.3s;
			text-decoration: none;

			&:hover {
				color: vars.$grayLight;
			}
		}

		.icon {
			width: auto;
			height: 20px;
			transition: 0.3s;
			&:hover {
				opacity: 0.5;
			}
		}

		.black {
			background-color: vars.$black;
			width: 152px;
			border-radius: 10px;
			color: vars.$white;
			margin: 0px;
			&:hover {
				background-color: vars.$gray;
				color: vars.$white;
			}
		}
	}

	.logo {
		border: none;
		outline: none;
		color: vars.$gray;
		font-size: 56px;
		line-height: 56px;
		font-style: italic;
		justify-content: flex-start;
	}

	.active {
		border-bottom: 1px solid vars.$gray;
		box-sizing: border-box;
	}

	.flex-ended {
		justify-content: flex-end;
	}
}

@media (max-width: 1240px) {
	.header {
		width: 100%;
	}
}

@media (max-width: 960px) {
	.header {
		grid-template-columns: 170px 1fr 170px;
	}
}

@media (max-width: 830px) {
	.header {
		grid-template-columns: 120px 1fr 120px;
		.logo {
			font-size: 4rem;
		}
		&__section__link {
			height: auto;
			width: auto;
		}
	}
}

@media (max-width: 630px) {
	.header {
		grid-template-columns: 1fr 120px;
		.logo {
			display: none;
		}
		&__section__link {
			font-size: 1.3rem;
		}
	}
}
