@use "../../assets/styles/variables" as vars;

.features {
	margin: 50px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;

	&__content {
		display: flex;
		margin: 0px 10px;

		&-icon {
			height: 50px;
			margin: 0px 10px;
		}

		&__info {
			display: flex;
			flex-direction: column;

			&-title {
				font-size: 2rem;
			}

			&-text {
				font-size: 1.6rem;
			}
		}
	}
}
