@use "../../assets/styles/variables" as vars;

.features {
	min-height: 110px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	user-select: none;

	&__content {
		display: flex;
		margin: 0px 10px;

		&-icon {
			height: 50px;
			margin: 0px 10px;
		}

		&__info {
			display: flex;
			flex-direction: column;

			&-title {
				font-size: 2rem;
			}

			&-text {
				font-size: 1.6rem;
			}
		}
	}
}

@media (max-width: 1024px) {
	.features {
		padding: 15px 0px;
		&__content {
			margin: 0px 5px;

			&-icon {
				height: 30px;
				margin: 0px 5px;
			}

			&__info {
				&-title {
					font-size: 1.6rem;
				}

				&-text {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.features {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: 40px;
		grid-gap: 3rem;
		gap: 3rem;
	}
}
